@font-face {
	font-family: 'Cambria';
	src: url('Cambria-Italic.eot');
	src: local('Cambria Italic'), local('Cambria-Italic'),
		url('Cambria-Italic.eot?#iefix') format('embedded-opentype'),
		url('Cambria-Italic.woff') format('woff'),
		url('Cambria-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Cambria';
	src: url('Cambria-Bold.eot');
	src: local('Cambria Bold'), local('Cambria-Bold'),
		url('Cambria-Bold.eot?#iefix') format('embedded-opentype'),
		url('Cambria-Bold.woff') format('woff'),
		url('Cambria-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Cambria';
	src: url('Cambria.eot');
	src: local('Cambria'),
		url('Cambria.eot?#iefix') format('embedded-opentype'),
		url('Cambria.woff') format('woff'),
		url('Cambria.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Cambria';
	src: url('Cambria-BoldItalic.eot');
	src: local('Cambria Bold Italic'), local('Cambria-BoldItalic'),
		url('Cambria-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('Cambria-BoldItalic.woff') format('woff'),
		url('Cambria-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

body {
    background: #292A2D;
    font-family: 'Cambria';
    font-family: sans-serif;
}
.container {
    width: 1230px;
    margin: 30px auto;
    padding: 0px 25px 0;
    border: 1px solid #000;
    border-radius: 10px;
    background: #535353;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.header {
    background-color: #282828;
    margin: 0px -25px;
    padding: 10px 25px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    margin-bottom: 25px;
    color: #fff;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}
.header ul li {
    display: inline-block;
    margin-right: 12px;
}
.header ul li:last-child {
    margin: 0;
}

.green, .yellow, .red {
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
.green {
    background-color: #10D42C;
}
.yellow {
    background: #FEC104;
}
.red {
    background: #FF6658;
}
.header a{
    text-decoration: none;
    color: #fff;
}
.wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}
.slider {
    width: 596px;
    height: 640px;
}
.slider>div {
  border-radius: 25px;
}
.slider img{
    width: 596px;
    height: 640px;
}
.info {
    width: 600px;
}

.info_title {
    text-align: center;
    font-size: 38px;
	font-family: 'Cambria';
    font-weight: bold;
    color: #F5F5F5;
    line-height: 42px;
    margin-top: 150px;
}
.info_title__title {
    line-height: 65px;
}
.title {
    margin-top: 0;

}
.info_descr {
    margin-top: 70px;   
    color: #CCCCCC;
    font-size: 17px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.03em;
}
.info_descr_wth {
    width: 580px;
}
.info_title__descr {
    margin-top: 50px;
    margin-bottom: -50px;
}
.info_title__descr_mt {
    margin-top: 50px;
    margin-bottom: -25px;
}
.info_descr span {
    color: #fff;
    font-weight: 600;
}
.info_descr p{
    margin-bottom: 25px;
}
.info_title p {
    font-size: 30px; 
    color: #A0A0A0;   
}
.list_info ul li {
    margin-top: 25px;
    display: inline-block;
}
.list_info li {
    margin-left: 20px;
    margin-bottom: 25px;
}
.list_info li:hover {
    animation: hover 2s;
    -webkit-animation: hover 2s;
}
@keyframes hover {
 from {}
to {
    transform:rotate(360deg);
    -ms-transform:rotate(360deg); 
    -webkit-transform:rotate(360deg); 
}
}
@-webkit-keyframes hover 
{
from {}
    to {
        transform:rotate(360deg);
        -ms-transform:rotate(360deg); 
        -webkit-transform:rotate(360deg);
    }
}

.info_descr a {
    color: #fff;
    text-decoration: none;
}
.info_descr_list {
    margin-top: 15px;
    display: block;
    list-style: none;
    
}
.info_descr_list li {
    display: inline-block;
    padding: 3px;
    overflow: hidden;
}
.info_descr_list  li img {
    transition: 1s; /* Время эффекта */
    display: block; /* Убираем небольшой отступ снизу */
}
.info_descr_list li img:hover {
    transform: scale(1.3);
}

.info_title .button {
    margin-top: 25px;
    background: #535353;
    border-radius: 25px;
    border: 2px solid #fff;
    font-size: 18px;
    outline: none;
    color: #fff;
    padding: 11px 18px;

    text-decoration: none;
    cursor: pointer;
    margin-left: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.info_title .button:hover {
    background: #fff;
    color: #000;
    transition: .3s;
}
.main-menu {
    margin: 0 auto;
    width: 424px;
    transition: .3s;
    background-repeat: no-repeat;
    background: url(../images/bg-menu.png) -10px -2px;
}
nav ul li {
    margin-top: 25px;
    display: inline-block;
    padding: 0 auto;
    margin-left: 15px;
    transition: .5s;
}
[data-tooltip] {
    position: relative; /* Относительное позиционирование */ 
}
[data-tooltip]::after {
    content: attr(data-tooltip); /* Выводим текст */
    position: absolute; /* Абсолютное позиционирование */
    left: 0; top: -30px; /* Положение подсказки */
    background: #3C3C3C; 
    color: #fff; /* Цвет текста */
    padding: 2px; /* Поля вокруг текста */
    /* box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); Параметры тени */
    pointer-events: none; /* Подсказка */
    opacity: 0; /* Подсказка невидима */
    border-radius: 5px;
    font-size: 14px;
    transition: .4s; /* Время появления подсказки */
} 

[data-tooltip]:hover::after {
    opacity: 1; /* Показываем подсказку */
    top: -60px; /* Положение подсказки */
    left: 0px;
}
.menu li:hover {
    transform: scale(1.2);
}
.main-menu:hover { 
    transform: scale(1.1);
    background: url(../images/bg-menu.png) -10px -2px;
}


.footer {
    display: flex;
    justify-content: space-between;
    background: #282828;
    padding: 15px 25px;
    margin: 0 -25px;
    color: #fff;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: 11px;
}




.info_list {
    margin-top: 100px;
    font-size: 16px;
    text-align: left;
    list-style-type: none;
    font-family: 'Cambria';
    font-family: sans-serif;
        font-size: 17px;
    line-height: 32px;
}
.info_list li {
    border-bottom: 1px dashed #000;
    margin-bottom: 5px;
    font-weight: 600;
    font-family: 'Cambria';
    font-family: sans-serif;
}
.info_list span {
    text-align: right;
    float: right;
    font-weight: 400;
    font-family: 'Cambria' serif;
}
.info_list span a {
    color: #fff;
    text-decoration: none;
    outline: none;
}


.skills_info-list {
    margin-top: 75px;
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-weight: 600;
    font-size: 17px;
    font-family: 'Open Sans', sans-serif;
}
.skills_info-list span {
    color: #b6bcc1;
    padding-right: 15px;
    font-family: 'Cambria'; 
}
.skills_info li{
    list-style: none;
    margin-bottom: 10px;
}   
.html>div{
    margin-top: 5px;
    width: 250px;
    height: 7px;
    background-color: #26272D;
}
.html>div>div {
    width: 95%;
    background-color: #8E8F90;
    height: 7px;
}
.css>div{
    margin-top: 5px;
    width: 250px;
    height: 7px;
    background-color: #26272D;
}
.css>div>div {
    width: 75%;
    background-color:#8E8F90;
    height: 7px;
}
.js>div{
    margin-top: 5px;
    width: 250px;
    height: 7px;
    background-color: #26272D;
}
.js>div>div {
    width: 35%;
    background-color: #8E8F90;
    height: 7px;
}
.pp>div{
    margin-top: 5px;
    width: 250px;
    height: 7px;
    background-color: #26272D;
}
.pp>div>div {
    width: 59%;
    background-color: #8E8F90;
    height: 7px;
}
.skills_info_list li{
    list-style-type: none;
    margin-bottom: 10px
}
.ps>div{
    margin: 5px auto;
    width: 250px;
    height: 7px;
    background-color:#26272D;
}
.ps>div>div {
    width: 70%;
    background-color: #8E8F90;
    height: 7px;
}
.fig>div{
    margin-top: 5px;
    width: 250px;
    height: 7px;
    background-color:#26272D;
}
.fig>div>div {
    width: 65%;
    background-color: #8E8F90;
    height: 7px;
}
.df>div{
    margin-top: 5px;
    width: 250px;
    height: 7px;
    background-color:#26272D;
}
.df>div>div {
    width: 75%;
    background-color: #8E8F90;
    height: 7px;
}
.mf>div{
    margin-top: 5px;
    width: 250px;
    height: 7px;
    background-color:#26272D;
}
.mf>div>div {
    width: 68%;
    background-color: #8E8F90;
    height: 7px;
}

.education_title {
    margin-top: 0;
}
#block img {
    display: block;
    text-align: center;
}
.info_content{
    display: block;
    margin-top: 5px;
    border-radius: 5px;
    padding: 3px;
    text-align: center;
    background-color: #757575;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
}
.info_descr-link {
    margin-top: 50px;
    text-align: center;
}
.info_content_block p a img{
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
}

.contact_form {
    width: 480px;
    margin: 50px auto 0;

}
.form input {
    border: 2px solid black;
    width: 450px;
    height: 30px;
    border-radius: 15px;
    margin: 0 auto;
    background-color: #F5F5F5;
    margin-top: 15px;
    padding: 5px 10px;
    outline: none;
}
.form button {
    display: block;
    margin-top: 15px;
    width: 470px;
    height: 40px;
    border-radius: 15px;
    border: 2px solid black;
    outline: none;
    cursor: pointer;

}
.form button:hover {
    background-color: grey;
    transition: 1s;
    transform: scale(1.05);
    font-size: 18px;
    font-weight: 600;
}
.form textarea {
    margin-top: 15px;
    width: 450px;
    height: 200px;
    border: 2px solid black;
    border-radius: 15px;
    background-color: #F5F5F5;
    padding: 5px 10px;
    outline: none;
    resize: none;
    font-size: 14px;
    color: #6F6F6F;
}


.contact_info_descriprion {
    color: #CCCCCC;
    font-size: 17px;
    line-height: 22px;
    margin-top: 50px;
    
}
.contact_info_descriprion a{
    color: #fff;
    font-size: 17px;
    line-height: 22px;
    text-decoration: none;
    font-weight: bold;
}


























































/* 992px - 1200px */
@media screen and (max-width: 1200px) {
    .container{
        width: 960px;
    }
}

/* 768px - 992px */
@media screen and (max-width: 992px) {
    .container{
        width: 720px;
    }
}  

/* 576px - 768px  */
@media screen and (max-width: 768px) {
    .container{
        width: 540px;
    }
}

/* 0px - 576px  */
@media screen and (max-width: 576px) {
    .container{
        width: 90%;
    }
}
